# Bonus challenge

In this challenge we will continue working with the `Pokemon` dataset. 

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.  
Import libraries and the pokemon dataset

In [10]:
#Importar bibliotecas:
import pandas as pd
import numpy as np

#Olhada na tabela de dados:

file = open('data/Pokemon.csv', 'rb')
file_lines = file.readlines(10000)
for i in range(5):
    print(file_lines[i].decode('utf-8'))
file.close()

#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary

1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False

2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False

3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [39]:
tb_pokemon = pd.read_csv('data/Pokemon.csv',encoding = 'utf-8' )
print (tb_pokemon)
print ('\n')
tb_pokemon.info()

       #                   Name   Type 1  Type 2  Total  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison    318  45      49       49
1      2                Ivysaur    Grass  Poison    405  60      62       63
2      3               Venusaur    Grass  Poison    525  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4      4             Charmander     Fire     NaN    309  39      52       43
..   ...                    ...      ...     ...    ...  ..     ...      ...
795  719                Diancie     Rock   Fairy    600  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
799  721              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 13 columns]


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [41]:
mask_legendary = tb_pokemon['Legendary']== True
tb_pokemon.groupby(['Legendary',['Type 1']]).mean()

AttributeError: 'list' object has no attribute 'isna'

## Problem solving iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f) or in [this one](https://towardsdatascience.com/categorical-encoding-using-label-encoding-and-one-hot-encoder-911ef77fb5bd). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`.   
Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](images/one-hot-encoding.png)

In [38]:
tb_pokemon['Type 2'].value_counts()

Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Ice         14
Ghost       14
Rock        14
Fire        12
Electric     6
Normal       4
Bug          3
Name: Type 2, dtype: int64

In [34]:
tb_pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [36]:
tb_pokemon.head(7)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False

In [37]:
tb_pokemon.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

                                    #  Total     HP      Attack     Defense  \
Legendary Type 1 Type 2
False     Bug    Electric  595.500000  395.5   60.0   62.000000   55.000000
                 Fighting  214.000000  550.0   80.0  155.000000   95.000000
                 Fire      636.500000  455.0   70.0   72.500000   60.000000
                 Flying    286.285714  419.5   63.0   70.142857   61.571429
                 Ghost     292.000000  236.0    1.0   90.000000   45.000000
...                               ...    ...    ...         ...         ...
True      Rock   Fighting  639.000000  580.0   91.0  129.000000   90.000000
          Steel  Dragon    483.000000  680.0  100.0  120.000000  120.000000
                 Fighting  638.000000  580.0   91.0   90.000000  129.000000
                 Psychic   385.000000  600.0  100.0  100.000000  100.000000
          Water  Dragon    484.000000  680.0   90.0  120.000000  100.000000

                              Sp. Atk     Sp. Def       Speed  Generation
Legendary Type 1 Type 2
False     Bug    Electric   77.000000   55.000000   86.500000    5.000000
                 Fighting   40.000000  100.000000   80.000000    2.000000
                 Fire       92.500000   80.000000   80.000000    5.000000
                 Flying     72.857143   69.071429   82.857143    2.857143
                 Ghost      30.000000   30.000000   40.000000    3.000000
...                               ...         ...         ...         ...
True      Rock   Fighting   72.000000   90.000000  108.000000    5.000000
          Steel  Dragon    150.000000  100.000000   90.000000    4.000000
                 Fighting   90.000000   72.000000  108.000000    5.000000
                 Psychic   100.000000  100.000000  100.000000    3.000000
          Water  Dragon    150.000000  120.000000  100.000000    4.000000

[150 rows x 9 columns]

In [33]:
tb_pokemon.groupby(['Legendary','Type 1','Type 2']).count()

                            #  Name  Total  HP  Attack  Defense  Sp. Atk  \
Legendary Type 1 Type 2
False     Bug    Electric   2     2      2   2       2        2        2
                 Fighting   2     2      2   2       2        2        2
                 Fire       2     2      2   2       2        2        2
                 Flying    14    14     14  14      14       14       14
                 Ghost      1     1      1   1       1        1        1
...                        ..   ...    ...  ..     ...      ...      ...
True      Rock   Fighting   1     1      1   1       1        1        1
          Steel  Dragon     1     1      1   1       1        1        1
                 Fighting   1     1      1   1       1        1        1
                 Psychic    1     1      1   1       1        1        1
          Water  Dragon     1     1      1   1       1        1        1

                           Sp. Def  Speed  Generation
Legendary Type 1 Type 2
False     Bug    Electric        2      2           2
                 Fighting        2      2           2
                 Fire            2      2           2
                 Flying         14     14          14
                 Ghost           1      1           1
...                            ...    ...         ...
True      Rock   Fighting        1      1           1
          Steel  Dragon          1      1           1
                 Fighting        1      1           1
                 Psychic         1      1           1
          Water  Dragon          1      1           1

[150 rows x 10 columns]

## Choose a type

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [ ]:
# Your code here